<li class="list-group-item">
	{{name}}

	<button type="button" class="change-burgerState btn btn-warning" data-id="{{id}}" data-newState="{{devoure}}">
		{{#if devoure}}Devoured it!{{else}}I haven't tried it{{/if}}
	</button>
</li>
